@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply antialiased;
    overflow-x: hidden;
    max-width: 100vw;
  }
}

.reader-content {
  line-height: 1.8;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.reader-content * {
  max-width: 100%;
}

.reader-content p {
  margin-bottom: 1.5em;
}

.reader-content h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1.5em;
  text-align: center;
}
